/*Neon*/
.GlowOnHover {
  text-align: center;
  /* font-size: 5em; */
  font-family: 'Barlow Condensed';
  margin: 20px 0 20px 0;
}

.AnchorGlow {
  text-decoration: none;
  font-family: 'Barlow Condensed';
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.GlowOnHover .AnchorGlow:hover {
  color: #fff;
  font-family: 'Barlow Condensed' ;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.GlowOnHover .AnchorGlow {
  color: #6CDAE7;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

.GlowOnHover .AnchorGlow:hover {
  color: #ffffff;
}
/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6cdae7, 0 0 70px #6cdae7, 0 0 80px #6cdae7, 0 0 100px #6cdae7, 0 0 150px #6cdae7;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6cdae7, 0 0 35px #6cdae7, 0 0 40px #6cdae7, 0 0 50px #6cdae7, 0 0 75px #6cdae7;
  }
}


@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6cdae7, 0 0 70px #6cdae7, 0 0 80px #6cdae7, 0 0 100px #6cdae7, 0 0 150px #6cdae7;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6cdae7, 0 0 35px #6cdae7, 0 0 40px #6cdae7, 0 0 50px #6cdae7, 0 0 75px #6cdae7;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #6cdae7, 0 0 70px #6cdae7, 0 0 80px #6cdae7, 0 0 100px #6cdae7, 0 0 150px #6cdae7;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6cdae7, 0 0 35px #6cdae7, 0 0 40px #6cdae7, 0 0 50px #6cdae7, 0 0 75px #6cdae7;
  }
}

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}
