@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
/* #4a02f0 to #8c00ff */
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #fff!important;
	/* border: 2px solid red; */
}
.pageBody {
	background-color: #2A3137;
	/* background-image: radial-gradient(circle, #000000 55%, #8c00ff 100%); */
	overflow: hidden;
}
/* Id Starts */

#loader
{
	height: 100vh;
	width: 100vw;
	background: #232323;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loadingVideo {
	width: 50vw;
}

@media (max-width: 991.98px) {
	#loadingVideo {
		width: 60vw;
	}
}

@media (max-width: 767.98px) {
	#loadingVideo {
		width: 80vw;
	}
}


#main-content {
	height: 96.8vh;
}

#sliding-content-events-click {
	z-index: 1;
}

#sliding-content-events {
	z-index: 0;
}

#sliding-content-events-no-click {
	z-index: 1;
}

#literatureImage {
	background-color: #a176ac;
}

#eventHead {
	font-family: "Amatic SC";
	font-size: 3rem;
	text-align: center;
}

#eventBody {
	font-family: "Amatic SC";
	font-size: 1.5rem;
	text-align: justify;
	padding: 20px;
	margin: 5px;
	color: LightGrey;
}

/* Id Ends */

/* Class Starts */

.BoldText {
	font-weight: bold;
	color: LightGrey;
}

.quoteText {
	text-align: center!important;
	font-size: 1.25rem!important;
	color: LightGrey;
}

.invisible
{
	display: none;
}

.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #000;
	-webkit-animation: boxglow 1s ease-in-out infinite alternate;
  -moz-animation: boxglow 1s ease-in-out infinite alternate;
  animation: boxglow 1s ease-in-out infinite alternate;
}
.logo:hover {
	cursor: pointer;
	text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.navbae{
	z-index: 999;
}

.navlogo{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.navmenu{
	display: flex;
	float: right;
	align-content: justify;
	align-items: center;
	padding: 1.5rem;
 	list-style-type: none;
}

.navitems{
	padding: 1vw 1.2vw;
	font-size: 1.05rem;
	color: #fff;
  text-align: center;
	font-family: 'Barlow Condensed';
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}
.navitems:hover {
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.navitems1{
	padding: 1vw 1.2vw;
	font-size: 1.25rem;
	color: #fff;
  text-align: center;
	font-family: 'Amatic SC';
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}
.navitems1:hover {
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.navitemsEvent{
	padding: 1vw 1.2vw;
	font-size: 1.15rem;
	color: #8c00ff!important;
	font-weight: bold;
	/* text-shadow: 1px 1px #8c00ffaa; */
  text-align: center;
	font-family: 'Amatic SC';
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}
.navitemsEvent:hover {
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.underlineText {
	text-decoration: underline;
}

.windowspan{
	width: 100vw;
}

.eventwindow{
	width: 100vw;
	z-index: 2;
}
.video1, .video2
{
	position: fixed;
	top: 15vh;
	left: calc(50vw/2);
	width: 50vw;
}

.ResugName
{
	position: fixed;
	top: 78vh;
	width: 100vw;
	font-family: 'Barlow Condensed';
	font-size: 2rem;
	letter-spacing: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 650px) {
	.ResugName {
		letter-spacing: 40px;
	}
}

.AnchorGlow {
	padding-left: 50px;
}

.ResugName:hover{
	cursor: default;
}

.compImage {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.compImage:hover {
	cursor: pointer;
}

.intraUniv {
	left: 23vw;
	top: 35vh;
	position: fixed;
}

@media (max-width:800px) {
	.intraUniv {
		top: 21vh;
		left: 40vw;
	}
}

.interUniv{
	left: 62vw;
	top: 35vh;
	position: fixed;
}

@media (max-width:800px) {
	.interUniv {
		top: 55vh;
		left: 40vw;
	}
}

.interUnivEvents {
	position: fixed;
	width: 100vw;
	font-family: "Amatic SC";
	font-size: 2rem;
	font-weight: bold;
	top: 45vh;
	color: #8c00ff!important;
	text-align: center;
	word-spacing: 20px;
}

.Dance
{
	position: fixed;
	left: 10vw;
	top: 23vh;
}

.Theatre
{
	position: fixed;
	left: 33vw;
	top: 23vh;
}

.Music
{
	position: fixed;
	left: 56vw;
	top: 23vh;
}

.Photo
{
	position: fixed;
	left: 79vw;
	top: 23vh;
}

.Art
{
	position: fixed;
	left: 22vw;
	top: 50vh;
}

.Literature
{
	position: fixed;
	left: 45vw;
	top: 50vh;
}

.Specials
{
	position: fixed;
	left: 68vw;
	top: 50vh;
}

@media (max-width:900px) {
	.Dance {
		left: 10vw;
		top: 18vh;
	}
	.Theatre {
		left: 40vw;
		top: 18vh;
	}
	.Music {
		left: 70vw;
		top: 18vh;
	}
	.Photo {
		left: 10vw;
		top: 45vh;
	}
	.Art {
		left: 40vw;
		top: 45vh;
	}
	.Literature {
		left: 70vw;
		top: 45vh;
	}
	.Specials {
		left: 40vh;
		top: 71vh;
		visibility: hidden;
	}
	.Specials1 {
		left: 40vw;
		top: 71vh;
		visibility: visible;
	}
}

.EventImages
{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.EventImages:hover
{
	cursor: pointer;
}

.EventCaption
{
	font-family: 'Amatic SC';
	font-weight: bold;
	text-shadow: 1px 1px #8c00ffaa;
	color: #8c00ff!important;
	font-size: 2rem;
	margin: 0 auto;
	text-align: center;
}

.EventCaption:hover
{
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
	cursor: pointer;
}

.go_back{
	height: auto;
	width: auto;
	z-index: 1000;
}
.eventClickImg{
	height: 300px;
	width: 300px;
	position: fixed;
	top: 30vh;
	left: 40vw;
	border-radius: 50%;
	z-index: 101;
	/* padding: 100px; */
}

.sub-content-1{
	/* display: none; */
	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 21.5vh;
	left: 45vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
/*
	font-family: "Amatic SC";
	font-size: 1rem;
	color: #8c00ff!important; */
}


.sub-content-5{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 53.5vh;
	left: 37vw;
	z-index: 100;

	 transition: top 0.5s, left 0.5s,transform 0.5s;

}


.sub-content-4{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 62vh;
	left: 45vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
}


.sub-content-3{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 53.5vh;
	left: 53vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
}

.sub-content-2{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 33.5vh;
	left: 54vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
}

.sub-content-6{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 33.5vh;
	left: 36vw;
	z-index: 100;

	 transition: top 0.5s, left 0.5s,transform 0.5s;

}

@media (max-width:1500px) {
	.sub-content-1 {
		left: 46vw;
	}
	.sub-content-2 {
		left: 55vw;
	}
	.sub-content-3 {
		left: 55vw;
	}
	.sub-content-4 {
		left: 46vw;
	}
	.sub-content-5 {
		left: 37vw;
	}
	.sub-content-6 {
		left: 37vw;
	}
}

@media (max-width:1400px) {
	.sub-content-1 {
		left: 46vw;
	}
	.sub-content-2 {
		left: 57vw;
	}
	.sub-content-3 {
		left: 56vw;
	}
	.sub-content-4 {
		left: 46vw;
	}
	.sub-content-5 {
		left: 36vw;
	}
	.sub-content-6 {
		left: 36vw;
	}
}

@media (max-width:1200px) {
	.sub-content-1 {
		left: 47.5vw;
	}
	.sub-content-2 {
		left: 58vw;
	}
	.sub-content-3 {
		left: 58vw;
	}
	.sub-content-4 {
		left: 47.5vw;
	}
	.sub-content-5 {
		left: 37vw;
	}
	.sub-content-6 {
		left: 37vw;
	}
}

@media (max-width:1100px) {
	.sub-content-1 {
		left: 48.5vw;
	}
	.sub-content-2 {
		left: 60vw;
	}
	.sub-content-3 {
		left: 60vw;
	}
	.sub-content-4 {
		left: 48.5vw;
	}
	.sub-content-5 {
		left: 37vw;
	}
	.sub-content-6 {
		left: 37vw;
	}
}

@media (max-width:1000px) {
	.sub-content-1 {
		left: 50vw;
	}
	.sub-content-2 {
		left: 63vw;
	}
	.sub-content-3 {
		left: 63vw;
	}
	.sub-content-4 {
		left: 50vw;
	}
	.sub-content-5 {
		left: 37vw;
	}
	.sub-content-6 {
		left: 37vw;
	}
}
@media (max-width:800px) {
	.sub-content-1 {
		left: 52vw;
	}
	.sub-content-2 {
		left: 69vw;
	}
	.sub-content-3 {
		left: 69vw;
	}
	.sub-content-4 {
		left: 52vw;
	}
	.sub-content-5 {
		left: 35vw;
	}
	.sub-content-6 {
		left: 35vw;
	}
}


.sub-content-1:hover{
	top: 14.25vh;
	left:46.5vw;
	transform: scale(1.3);
}


.sub-content-5:hover{
	top: 56.5vh;
	left: 33.75vw;
	transform: scale(1.3);
}
.sub-content-4:hover{
	top: 72vh;
	left:46.25vw;
	transform: scale(1.3);
}
.sub-content-3:hover{
	top: 56.5vh;
	left: 59.5vw;
	transform: scale(1.3);
}

.sub-content-2:hover{
	top: 30.5vh;
	left: 59.5vw;
	transform: scale(1.3);
}

.sub-content-6:hover{
	top: 30.5vh;
	left: 33.75vw;
	transform: scale(1.3);
}

.subcontents:hover{
	cursor: pointer;
}

.blur{
	position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
	/* background-color: #D3D3D3; */
	background-color: black;
    opacity: 0.3;
	z-index: 102;
}

.text-box{

	background-color: #808080;
	position: fixed;
	border-radius: 20px;
	height: 60vh;
	width: 60vw;
	top: 20vh;
	left: 20vw;
	padding: 20px;
	z-index: 103;
}

.opac{
    opacity: 0.5
}

.aboutText{
	position: fixed;
	width: 90vw;
	font-family: 'Amatic SC';
	font-size: 1.5rem;
	top: 24vh;
	left: 5vw;
}

@media (max-width:900px) {
	.aboutText {
		top: 20vh;
	}
}

@media (max-width:700px) {
	.aboutText {
		top: 15vh;
	}
}

.aboutText ul {
	padding-left: 50px;
}

.landingLogo {
	position: fixed;
	top: 24vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.eventBubble
{
	font-size: 1rem;
	font-family: "Amatic SC";
	padding: 10px;
	color: #8c00ff!important;
	text-align: center;
	font-weight: bold;
	margin-top: 2vh;
}

.fadedLine {
    border: 0;
    height: 2px;
    margin:18px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.facebook {
	position: absolute;
	top: 45vh;
	left: 45vw;
	margin: 5px;
}

.facebook:hover {
	cursor: pointer;
}

.insta {
	position: absolute;
	top: 45vh;
	left: 50vw;
	margin: 5px;
}
.insta:hover {
	cursor: pointer;
}

.mail {
	margin: 5px;
	position: absolute;
	top: 42.5vh;
	left: 55vw;
}
.mail {
	cursor: pointer;
}

@media (max-width:1400px) {
	.facebook {
		top: 40vh;
		left: 50vw;
	}
	.insta {
		top: 50vh;
		left: 50vw;
	}
	.mail {
		top: 58vh;
		left: 49vw;
		margin: 5px 0;
	}
}

.sponsorPage {
		position: fixed;
		width: 100vw;
		font-family: "Amatic SC";
		font-size: 2rem;
		font-weight: bold;
		top: 45vh;
		color: white;
		text-align: center;
		word-spacing: 20px;
}

/* Class Ends */

/* Animation Starts */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #6CDAE7, 0 0 40px #6CDAE7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6CDAE7, 0 0 40px #6CDAE7, 0 0 50px #6CDAE7;
  }
}
@-webkit-keyframes boxglow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6CDAE7, 0 0 40px #6CDAE7, 0 0 50px #6CDAE7;
  }
  to {
    box-shadow: 0 0 15px #fff, 0 0 25px #00CCCC, 0 0 35px #00CCCC, 0 0 45px #00CCCC, 0 0 55px #00CCCC;
  }
}

/* Animation Ends */
