@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');
/* #4a02f0 to #8c00ff */
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #fff!important;
	/* border: 2px solid red; */
}
.pageBody {
	background-image: radial-gradient(circle, #000000 55%, #8c00ff 100%);
	overflow: hidden;
}
/* Id Starts */

#loader
{
	height: 100vh;
	width: 100vw;
	background: #232323;
}

#main-content {
	height: 96.8vh;
}

/* Id Ends */

/* Class Starts */

.video
{
	position: fixed;
	top: calc(40vh/2);
	left: calc(50vw/2);
	width: 50vw;
	min-width: 600px;
}

.invisible
{
	display: none;
}

.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	padding: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #000;
	-webkit-animation: boxglow 1s ease-in-out infinite alternate;
  -moz-animation: boxglow 1s ease-in-out infinite alternate;
  animation: boxglow 1s ease-in-out infinite alternate;
}
.logo:hover {
	cursor: pointer;
	text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.navbae{
	z-index: 100;
}

.navlogo{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.navmenu{
	display: flex;
	float: right;
	align-content: justify;
	align-items: center;
	padding: 1.5rem;
 	list-style-type: none;
}

.navitems{
	padding: 1vw 1.2vw;
	font-size: 1.25rem;
	color: #fff;
  text-align: center;
	font-family: 'Barlow Condensed';
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}
.navitems:hover {
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.navitems1{
	padding: 1vw 1.2vw;
	font-size: 1.25rem;
	color: #fff;
  text-align: center;
	font-family: 'Amatic SC';
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}
.navitems1:hover {
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.navitemsEvent{
	padding: 1vw 1.2vw;
	font-size: 1.25rem;
	color: #8c00ff!important;
	font-weight: bold;
	text-shadow: 1px 1px #8c00ffaa;
  text-align: center;
	font-family: 'Amatic SC';
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
}
.navitemsEvent:hover {
	cursor: pointer;
	text-decoration: none;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.windowspan{
	width: 100vw;
}

.video1, .video2
{
	position: fixed;
	top: 15vh;
	left: calc(50vw/2);
	width: 50vw;
}

.ResugName
{
	position: fixed;
	top: 78vh;
	width: 100vw;
	font-family: 'Barlow Condensed';
	font-size: 2rem;
	letter-spacing: 50px;

}
.ResugName:hover{
	cursor: default;
}

.Dance
{
	position: fixed;
	left: 15vw;
	top: 23vh;
}

.Theatre
{
	position: fixed;
	left: 42vw;
	top: 23vh;
}

.Music
{
	position: fixed;
	left: 69vw;
	top: 23vh;
}

.Art
{
	position: fixed;
	left: 28.5vw;
	top: 50vh;
}

.Literature
{
	position: fixed;
	left: 55.5vw;
	top: 50vh;
}

.EventImages
{
	height: 120px;
	width: 120px;
	border-radius: 50%;
}
.EventImages:hover
{
	cursor: pointer;
}

.EventCaption
{
	font-family: 'Amatic SC';
	font-weight: bold;
	text-shadow: 1px 1px #8c00ffaa;
	color: #8c00ff!important;
	font-size: 2rem;
	margin: 0 auto;
	text-align: center;
}

.EventCaption:hover
{
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
	cursor: pointer;
}

.eventClickImg{
	height: 300px;
	width: 300px;
	position: fixed;
	top: 30vh;
	left: 40vw;
	border-radius: 50%;
	z-index: 101;
	/* padding: 100px; */
}

.sub-content{
	/* display: none; */
	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	top: 22vh;
	left: 46vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
}


.sub-content-1{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	top: 50.5vh;
	left: 37.5vw;
	z-index: 100;

	 transition: top 0.5s, left 0.5s,transform 0.5s;

}


.sub-content-2{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	top: 63vh;
	left: 46.25vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
}


.sub-content-3{
	/* display: none; */

	background-color: #f6f6f6;
	position: fixed;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	top: 51.5vh;
	left: 55.5vw;
	z-index: 100;
	transition: top 0.5s, left 0.5s,transform 0.5s;
}




.sub-content:hover{
	top: 12vh;
	left:46vw;
	transform: scale(1.3);
}


.sub-content-1:hover{
	top: 54.25vh;
	left:33.75vw;
	transform: scale(1.3);
}
.sub-content-2:hover{
	top: 72vh;
	left:46.25vw;
	transform: scale(1.3);
}
.sub-content-3:hover{
	top: 54.25vh;
	left:59.25vw;
	transform: scale(1.3);
}


.blur{
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color:#ffffff;
    opacity: 0.7;

}

.text-box{

	background-color: red;
	position: fixed;
	border-radius: 20px;
	height: 400px;
	width: 800px;
	top: 200px;
	left: 300px;
	padding: 100px;
	z-index: 102;
}

.opac{
    opacity: 0.5
}

/* Class Ends */

/* Animation Starts */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #6CDAE7, 0 0 40px #6CDAE7;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6CDAE7, 0 0 40px #6CDAE7, 0 0 50px #6CDAE7;
  }
}
@-webkit-keyframes boxglow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6CDAE7, 0 0 40px #6CDAE7, 0 0 50px #6CDAE7;
  }
  to {
    box-shadow: 0 0 15px #fff, 0 0 25px #00CCCC, 0 0 35px #00CCCC, 0 0 45px #00CCCC, 0 0 55px #00CCCC;
  }
}

/* Animation Ends */
